<div class="row boo">
    <form >
        Title: <input type="text" class="form-control" name="title" required><br>
        Author: <input type="text" class="form-control" name="author" required><br>          
        Genre: <input type="text" class="form-control" name="genre" required><br>            
        Image: <input type="file" class="form-control" name="image" required><br> 
        Description: <textarea class="form-control" rows="4" cols="50" name="des" required></textarea><br>           
        <button type="submit" class="btn btn-danger">Add Book</button>
    </form>            
</div>